@model SymphonyLimited.ViewModel.AboutView

@{
    ViewData["Title"] = "About Section";
}
<div class="content">
    <!-- Error Handling -->
    <div class="container-fluid p-4">
        <div id="result"></div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }
        <div class="row g-3 mb-4 p-4 border rounded" style="background-color:#f8f9fa;">
            <div class="tab-pane " id="faq" role="tabpanel">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-primary m-0">Manage About Details</h4>
                    <button class="btn btn-success btn-md" onclick="openModal()">Add More Details</button>
                    <a asp-controller="Home" asp-action="About" class="btn btn-primary btn-md">Go to About Page</a>
                </div>
                <div class="loadContainer">
                    <div id="spinnerLoader">
                        <div class="spinner"></div>
                        <p>Loading, please wait...</p>
                    </div>
                    @await Html.PartialAsync("_PartialAboutList", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section -->
<div class="modal fade" id="openModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add About Details</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" asp-controller="About" id="form" enctype="multipart/form-data">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label asp-for="title" class="form-label fw-semibold"></label>
                        <input asp-for="title" name="title" type="text" class="form-control" id="title" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="desc" class="form-label fw-semibold">Description</label>
                        <div class="d-flex">

                            <textarea asp-for="desc" name="desc" class="form-control" id="desc" rows="2"></textarea>
                            <img src="~/img/no_img.jpg"
                                 alt="Current About Image"
                                 class="border-0 mx-3" style="width:150px;" id="imagePreview">
                        </div>
                        <span asp-validation-for="desc" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImageFile" for="image" class="form-label"></label>
                        <input hidden type="text" id="oldimg" name="oldImage" class="form-control">
                        <input asp-for="ImageFile" type="file" onchange="PreviewImage(event)" id="img" name="ImageFile" class="form-control">
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <button id="save" type="submit" class="btn btn-success px-4">Add New</button>
                    <button id="update" type="button" class="btn btn-secondary px-4" style="display:none;">Update Changes</button>
                    <button type="reset" id="clear" class="btn btn-secondary px-4">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Confirmed Delete?</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmedDelete">Yes</button>
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">No</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        // Declare variables for data posting
        const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        const modal = new bootstrap.Modal(document.getElementById('openModal'));
        let id;

        function openModal() {
          modal.show();
          $("#update").hide();
          $("#save").show();
        }

        // Load the controller of list (partial view) ///////////////////////////////////
        $(document).ready(function () {
            try{
            $(".loadContainer").load("/About/List");
            }catch(err){
                console.log(err);
            }
        });

        //Image Preview //////////////////////////////////////////////////////////////////
        function PreviewImage(e){
            let file = e.target.files[0];
            if(file){
                let reader = new FileReader();
                let imgPrev = document.getElementById("imagePreview");
                reader.onload = function(x){
                    imgPrev.src = x.target.result;
                }
                reader.readAsDataURL(file);
            }
        }

        // Edit get value //////////////////////////////////////////////////
        $(document).on("click","#edit",function(){
            modal.show();
            id = $(this).closest("div").find("#FID").val();
            let oldtitle = $(this).closest("div").find("h4").text();
            let oldDesc = $(this).closest("div").find("p").text();
            let oldImg = $(this).closest("div").find("#editImg").val();
            $("#title").val(oldtitle);
            $("#desc").val(oldDesc);
            $("#oldimg").val(oldImg);
            $("#update").show();
            $("#save").hide();
            $("#modall").show();
            $("#imagePreview").attr(`src`,`data:image/jpeg;base64,${oldImg}`);
         });


         //Update Edit Value ///////////////////////////////////////////////////////////
        $("#update").on("click",(e)=>{
             if (!$('#title').val().trim() || !$("#desc").val().trim()){
                $("#result").html(`<div class="alert alert-danger">Fill all the input fields and select an image!</div>`)
                return;
            }else{
             Manage(e,id,"Edit");
             $("#save").show();
             $("#update").hide();
             modal.hide();
            }
        });

        //Delete Data ///////////////////////////////////////////////////////////////
        $(document).on("click","#delete",function(){
            id = $(this).closest("div").find("#FID").val();
            console.log(id);
            deleteModal.show();
        });
        $("#confirmedDelete").on("click",function(e){
            Manage(e,id,"Delete","");
                        deleteModal.hide();
        });
        function closeModal(){
            deleteModal.hide();
        }


         // Update Data through AJAX ////////////////////////////////////////////////////
        function Manage(event,id,action){
            event.preventDefault();

            try{
                let formData = new FormData($("#form")[0]);

                $.ajax({
                    url:`/About/${action}/${id}`,
                    type:'POST',
                    data: formData,
                    contentType:false,
                    processData:false,
                    success: function(res){
                        if (res.success) {
                            $("#result").html(`<div class="alert alert-success">${res.message}</div>`);
                            $(".loadContainer").load("/About/List");
                        } else {
                                let html = "<ul class='text-danger'>";
                                res.message.forEach(e => html += `<li>${e}</li>`);
                                html += "</ul>";
                                $("#result").html(html);
                        }
                    },
                    error: function () {
                        $("#result").html(`<div class="alert alert-danger">Server error</div>`);
                    }
                });
            }catch(err){
                console.log(err+" Failed to Post Data "+action);
            }
        }

    </script>
}
