@model SymphonyLimited.Models.Course
@{
    ViewData["Title"] = "Course Management";
}
<div class="content">
    <div class="container-fluid">
        <div id="result"></div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="fw-bold text-warning">Manage Courses</h3>
            <div>
                <button class="btn btn-success btn-sm" onclick="openModal(modal)">Add New <strong>Course</strong></button>
                <button class="btn btn-success btn-sm" onclick="openModal(modal2)">Add New <strong>Topic</strong></button>
                <a asp-action="Course" asp-controller="Home" class="btn btn-primary btn-md">Go To Courses Page</a>
            </div>
        </div>
        <div class="loadContainer">
        </div>
    </div>
</div>

<!-- Form -->
<div class="modal fade" id="openModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add Course</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" asp-controller="Course" id="form">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label fw-semibold"></label>
                        <input asp-for="Name" name="Name" type="text" class="form-control fName" id="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label fw-semibold">Description</label>
                        <div class="d-flex">
                            <img src="~/img/no_img.jpg"
                                 alt="Current About Image"
                                 class="border-0 mx-3 imagePreview" style="width:150px;">
                            <textarea asp-for="Description" name="Description" class="form-control fDescription" id="Description" rows="2"></textarea>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="GalleryID" type="text" class="GID" name="GalleryID" hidden />
                        <span asp-validation-for="GalleryID" class="text-danger"></span>
                        <button type="button" onclick="openModal(imgModal)" class="btn btn-warning px-4">Select Image</button>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Duration" class="form-label fw-semibold"></label>
                        <input asp-for="Duration" name="Duration" type="text" class="form-control" id="Duration" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Fee" class="form-label fw-semibold"></label>
                        <input asp-for="Fee" name="Fee" type="text" class="form-control" id="Fee" />
                        <span asp-validation-for="Fee" class="text-danger"></span>
                    </div>
                    <button id="save" type="submit" class="btn btn-success px-4 save">Add New</button>
                    <button id="update" type="button" onclick="UpdateData(event,'update')" class="btn btn-secondary px-4 update" style="display:none;">Update Changes</button>
                    <button type="reset" id="clear" class="btn btn-secondary px-4">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="otherModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add Course</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="formLoad">
                @await Html.PartialAsync("_PartialTopicForm")
            </div>
        </div>
    </div>
</div>

<!-- Modal For Gallery -->
<div class="modal fade" id="imageModal" tabindex="-3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Select Image</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="ImageSelector">
                <!-- Partial Page Load Here-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="imgSelect">Select</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal For Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Confirmed Delete?</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmedDelete">Yes</button>
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">No</button>
            </div>
        </div>
    </div>
</div>

<!-- End Form -->

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
@section Scripts {
    <script src="~/js/gallery.js"></script>
    <script>
        // Load the controller of list (partial view)
        $(document).ready(function () {
            try{
            $(".loadContainer").load("/Course/List");
            $("#ImageSelector").load("/Gallery/SelectImage");
            $("#formLoad").load("/Course/Create");
            }catch(err){
                console.log(err);
            }
        });

        //Varaible Declaratoins for External JS
        const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        modal = new bootstrap.Modal(document.getElementById('openModal'));
        modal2 = new bootstrap.Modal(document.getElementById('otherModal'));
        imgModal = new bootstrap.Modal(document.getElementById('imageModal')); //For Gallery Function
        imgSelector = $("#ImageSelector");
        let id;

        function EditData(target,btn){
            let data1;
            let data2;
            let data3;
            let data4;
            let GID;
            let CID;
            let oldImg;
            if(btn=="edit"){
                modal.show();                                               //Four Courses
                id = $(target).closest("td").find("#FID").val();            //Get ID
                data1 = $(target).closest("tr").find("td:eq(0)").text();    //Get Name
                data2 = $(target).closest("tr").find("td:eq(1)").text();    //Get Description
                data3 = $(target).closest("tr").find("td:eq(2)").text();    //Get Duration
                data4 = $(target).closest("tr").find("td:eq(3)").text();    //Get Fee
                GID = $(target).closest("td").find("#getGid").val();        //Get Image ID
                oldImg = $(target).closest("td").find("img").attr("src");   //Get Image
                console.log(id,data1,data3,data4,GID);
            }else if(btn=="edit2"){
                modal2.show();                                              //For Topics
                id = $(target).closest("td").find("#FID2").val();           //Get ID
                data1 = $(target).closest("div").find("h5").text();         //Get Name
                data2 = $(target).closest("div").find("p").text();          //Get Description
                CID = $(target).closest("td").find("#CID").val();           //Get Course ID
                GID = $(target).closest("td").find("#getGid2").val();       //Get Image ID
                oldImg = $(target).closest(".card").find("img").attr("src");//Get Image
                console.log(CID);
            }else{
                console.log("Btn not defined")
            }
                $(".fName").val(data1);
                $(".fDescription").val(data2);
                $("#Duration").val(data3);
                $("#Fee").val(data4);
                $("#fSelect").val(CID);
                $(".GID").val(GID);
                $(".imagePreview").attr("src",oldImg);
                $(".update").show();
                $(".save").hide();
        }

         // $(document).on("click","#edit",function(){
         //    modal.show();
         //    id = $(this).closest("td").find("#FID").val();
         //    let data1 = $(this).closest("tr").find("td:eq(0)").text();
         //    let data2 = $(this).closest("tr").find("td:eq(1)").text();
         //    let data3 = $(this).closest("tr").find("td:eq(2)").text();
         //    let data4 = $(this).closest("tr").find("td:eq(3)").text();
         //    let GID = $(this).closest("td").find("#getGid").val();         Get Image ID
         //    let oldImg = $(this).closest("td").find("img").attr("src");   Get Image
         //    console.log(id,data1,data3,data4,GID);
         //    $("#Name").val(data1);
         //    $("#Description").val(data2);
         //    $("#Duration").val(data3);
         //    $("#Fee").val(data4);
         //    $(".GID").val(GID);
         //    $(".imagePreview").attr("src",oldImg);
         //    $("#update").show();
         //    $("#save").hide();
         // });

         //Update Edit Value /////////////////////////////////////////////////////
         function UpdateData(e,btn){
            if(btn=="update"){
                if (!$('#Name').val().trim() || !$("#Description").val().trim() || !$("#Duration").val().trim()){
                    $("#result").html(`<div class="alert alert-danger">Fill all the input fields and select an image!</div>`)
                return;
                }else{
                 Manage(e,id,"Edit");       //Function Name for Course
                 $(".save").show();
                 $(".update").hide();
                 modal.hide();      //for Course Modal
                }
            }else if(btn=="update2"){
                 Manage(e,id,"EditTopic");  //Function Name for Topics
                 $(".save").show();
                 $(".update").hide();
                 modal2.hide();     //for Topic Modal
            }
         }

        //Delete Data ///////////////////////////////////////////////////////////////
        $(document).on("click","#delete",function(){
            id = $(this).closest("div").find("#FID").val();
            console.log(id);
            deleteModal.show();
        });
        $("#confirmedDelete").on("click",function(e){
            Manage(e,id,"Delete","");
                        deleteModal.hide();
        });

         // Update Data through AJAX ////////////////////////////////////////////////////
        function Manage(event,id,action){
            event.preventDefault();

            try{
                let form = $("#form").is(":visible")?$("#form")[0]:$("#form2")[0];
                let formData = new FormData(form);

                $.ajax({
                    url:`/Course/${action}/${id}`,
                    type:'POST',
                    data: formData,
                    contentType:false,
                    processData:false,
                    success: function(res){
                        if (res.success) {
                            $("#result").html(`<div class="alert alert-success">${res.message}</div>`);
                            $(".loadContainer").load("/Course/List");
                        } else {
                                let html = "<ul class='text-danger'>";
                                res.message.forEach(e => html += `<li>${e}</li>`);
                                html += "</ul>";
                                $("#result").html(html);
                        }
                    },
                    error: function () {
                        $("#result").html(`<div class="alert alert-danger">Server error</div>`);
                    }
                });
            }catch(err){
                console.log(err+" Failed to Post Data "+action);
            }
        }
    </script>
}