@model SymphonyLimited.Models.Course
@{
    ViewData["Title"] = "Course Management";
}
<div class="content">
    <div class="container-fluid">
        <div id="result"></div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="fw-bold text-warning">Manage Courses</h3>
            <div>
                <button class="btn btn-success btn-sm" onclick="openModal(modal)">Add New <strong>Course</strong></button>
                <button class="btn btn-success btn-sm" onclick="openModal(modal2)">Add New <strong>Topic</strong></button>
                <a asp-action="Course" asp-controller="Home" class="btn btn-primary btn-md">Go To Courses Page</a>
            </div>
        </div>
        <div class="loadContainer">
        </div>
    </div>
</div>

<!-- Form -->
<div class="modal fade" id="openModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add Course</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" asp-controller="Course" id="form">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label fw-semibold"></label>
                        <input asp-for="Name" name="Name" type="text" class="form-control" id="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label fw-semibold">Description</label>
                        <div class="d-flex">
                            <img src="~/img/no_img.jpg"
                                 alt="Current About Image"
                                 class="border-0 mx-3 imagePreview" style="width:150px;">
                            <textarea asp-for="Description" name="Description" class="form-control" id="Description" rows="2"></textarea>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="GalleryID" type="text" class="GID" name="GalleryID" hidden />
                        <span asp-validation-for="GalleryID" class="text-danger"></span>
                        <button type="button" onclick="openModal(imgModal)" class="btn btn-warning px-4">Select Image</button>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Duration" class="form-label fw-semibold"></label>
                        <input asp-for="Duration" name="Duration" type="text" class="form-control" id="Duration" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Fee" class="form-label fw-semibold"></label>
                        <input asp-for="Fee" name="Fee" type="text" class="form-control" id="Fee" />
                        <span asp-validation-for="Fee" class="text-danger"></span>
                    </div>
                    <button id="save" type="submit" class="btn btn-success px-4">Add New</button>
                    <button id="update" type="button" class="btn btn-secondary px-4" style="display:none;">Update Changes</button>
                    <button type="reset" id="clear" class="btn btn-secondary px-4">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="otherModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add Course</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="formLoad">
                @await Html.PartialAsync("_PartialTopicForm")
            </div>
        </div>
    </div>
</div>

<!-- Modal For Gallery -->
<div class="modal fade" id="imageModal" tabindex="-3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Select Image</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="ImageSelector">
                <!-- Partial Page Load Here-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="imgSelect">Select</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal For Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Confirmed Delete?</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmedDelete">Yes</button>
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">No</button>
            </div>
        </div>
    </div>
</div>

<!-- End Form -->

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
@section Scripts {
    <script src="~/js/gallery.js"></script>
    <script>
        // Load the controller of list (partial view)
        $(document).ready(function () {
            try{
            $(".loadContainer").load("/Course/List");
            $("#ImageSelector").load("/Gallery/SelectImage");
            }catch(err){
                console.log(err);
            }
        });

        //Varaible Declaratoins for External JS
        const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        modal = new bootstrap.Modal(document.getElementById('openModal'));
        modal2 = new bootstrap.Modal(document.getElementById('otherModal'));
        imgModal = new bootstrap.Modal(document.getElementById('imageModal')); //For Gallery Function
        imgSelector = $("#ImageSelector");
        // function openModal(m) {
        //     if (m==modal2) {
        //         $("#formLoad").load("/Course/Create");
        //     }
        //     m.show();
        //     $("#update").hide();
        //     $("#save").show();
        // }
        // function closeModal() {
        //     deleteModal.hide();
        // }

        let id;
         $(document).on("click","#edit",function(){
            modal.show();
            id = $(this).closest("td").find("#FID").val();
            let data1 = $(this).closest("tr").find("td:eq(0)").text();
            let data2 = $(this).closest("tr").find("td:eq(1)").text();
            let data3 = $(this).closest("tr").find("td:eq(2)").text();
            let data4 = $(this).closest("tr").find("td:eq(3)").text();
            console.log(id,data1,data2,data3,data4);
            $("#Name").val(data1);
            $("#Description").val(data2);
            $("#Duration").val(data3);
            $("#Fee").val(data4);
            $("#update").show();
            $("#save").hide();
         });

         //Update Edit Value ///////////////////////////////////////////////////////////
        $("#update").on("click",(e)=>{
             if (!$('#Name').val().trim() || !$("#Description").val().trim() || !$("#Duration").val().trim()){
                $("#result").html(`<div class="alert alert-danger">Fill all the input fields and select an image!</div>`)
                return;
            }else{
             Manage(e,id,"Edit");
             $("#save").show();
             $("#update").hide();
             modal.hide();
            }
        });

        //Delete Data ///////////////////////////////////////////////////////////////
        $(document).on("click","#delete",function(){
            id = $(this).closest("div").find("#FID").val();
            console.log(id);
            deleteModal.show();
        });
        $("#confirmedDelete").on("click",function(e){
            Manage(e,id,"Delete","");
                        deleteModal.hide();
        });

         // Update Data through AJAX ////////////////////////////////////////////////////
        function Manage(event,id,action){
            event.preventDefault();

            try{
                let formData = new FormData($("#form")[0]);

                $.ajax({
                    url:`/Course/${action}/${id}`,
                    type:'POST',
                    data: formData,
                    contentType:false,
                    processData:false,
                    success: function(res){
                        if (res.success) {
                            $("#result").html(`<div class="alert alert-success">${res.message}</div>`);
                            $(".loadContainer").load("/Course/List");
                        } else {
                                let html = "<ul class='text-danger'>";
                                res.message.forEach(e => html += `<li>${e}</li>`);
                                html += "</ul>";
                                $("#result").html(html);
                        }
                    },
                    error: function () {
                        $("#result").html(`<div class="alert alert-danger">Server error</div>`);
                    }
                });
            }catch(err){
                console.log(err+" Failed to Post Data "+action);
            }
        }
    </script>
}