@model IEnumerable<SymphonyLimited.Models.FAQ>

@if (Model == null || !Model.Any())
{
   <div class="alert alert-danger">Nothing Found</div>
}
else
{
    <div class="accordion">
        @foreach (var x in Model)
        {
            <div class="accordion-item">
            <input type="text" value="@x.FAQID" class="FID" hidden/>
                <h2 class="accordion-header accordion-button" id="editQue">@x.Question</h2>
                <div class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <span id="editAns">@x.Answer</span>
                        <div class="mt-3">
                            <button class="btn btn-sm btn-outline-primary me-2" id="edit">Edit</button>
                            <button class="btn btn-sm btn-outline-danger" id="delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}